USE [PRODUCTION]
GO
/****** Object:  StoredProcedure [dbo].[BARCODE_INSERT]    Script Date: 2.07.2023 20:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[BARCODE_INSERT]
@BARCODE VARCHAR(50),
@STATIONID INT
AS
--1.BARKODUMUZ BARCODES TABLOSUNDA VAR MI
--2.BU BARKOD DAHA ÖNCE OKUTUOMUŞ MU
--3.BU ÜRÜNE AİT ÜRETİM PLANI VAR MI
IF NOT EXISTS(SELECT * FROM BARCODES WHERE BARCODE=@BARCODE)
BEGIN
	RAISERROR('Böyle bir barkod bulunamadı. Lütfen kontrol ediniz.!',16,1)
	RETURN
END

IF  EXISTS(SELECT * FROM BARCODE_PRODUCTION WHERE BARCODE=@BARCODE)
BEGIN
	RAISERROR('Bu barkod daha önce okutulmuş!',16,1)
	RETURN
END

IF NOT EXISTS(SELECT * FROM PRODPLAN WHERE ITEMID IN 
(SELECT ITEMID FROM BARCODES WHERE BARCODE=@BARCODE))
BEGIN
	RAISERROR('Bu ürüne ait üretim planı bulunamadı!',16,1)
	RETURN
END

INSERT INTO BARCODE_PRODUCTION (BARCODE,DATE_,STATION)
VALUES (@BARCODE,GETDATE(),@STATIONID)